@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";
/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bodyBg {
  background-image: url(../img/bg/bgMain.webp);
  background-position: center;
  background-attachment: fixed;
}

.fix {
  min-height: 100vh;
}

@keyframes reload {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.logotipo {
  background-image: url(../img/icons/logotipo.svg);
  width: 10em;
  height: 1.5em;
  background-repeat: no-repeat;
}
.logotipo:hover {
  background-image: url(../img/icons/logotipoHover.svg);
}

.navBg {
  background: linear-gradient(-40deg, #94156F 0%, rgb(59, 21, 111) 25%);
}

.navbar a {
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 1.3em;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  color: #ea00ff;
  animation-name: reload;
  animation-duration: 0.3s;
}

.navbar-brand:hover {
  animation-name: reload;
  animation-duration: 0.3s;
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.navBtn {
  border: none;
}

.navBtn:focus,
.navBtn:hover,
.navBtn:active {
  background-color: #8e0cc2;
  border: none;
}

.dropdown-menu {
  border: none;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: none;
  background: none;
}

.navSearchImg {
  width: 2em;
}

.navSearchBg {
  background-color: #ead9f3;
  border: #000000 1px solid;
}

@media only screen and (min-width: 1px) and (max-width: 366px) {
  .logotipo {
    width: 7em;
    height: 1.2em;
  }
}
.footerTop {
  background: linear-gradient(0deg, #94156F 0%, #3B156F 50%);
}

.btn:hover,
.btn-outline-light:hover,
.btn-floating:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
}

.mainContainer {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header header header header" "nada main main nada2" "nada contentSection aside nada2" "footer footer footer footer";
}

.headerGrid {
  grid-area: header;
}

.mainGrid {
  grid-area: main;
  border: rgba(0, 0, 0, 0.048) solid 1px;
  background: linear-gradient(30deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%);
  animation-name: reload;
  animation-duration: 0.5s;
}

.nada1 {
  grid-area: nada;
}

.nada2 {
  grid-area: nada2;
}

.contentGrid {
  grid-area: contentSection;
  border-right: rgba(0, 0, 0, 0.048) solid 0.5px;
  border-top: rgba(0, 0, 0, 0.048) solid 1px;
  background: linear-gradient(90deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%);
  animation-name: reload;
  animation-duration: 0.5s;
}

.asideGrid {
  grid-area: aside;
  border-left: rgba(0, 0, 0, 0.048) solid 0.5px;
  border-top: rgba(0, 0, 0, 0.048) solid 1px;
  background: linear-gradient(90deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%);
  animation-name: reload;
  animation-duration: 0.5s;
}

.footerGrid {
  grid-area: footer;
}

.sectionTop0,
.indexMainTitleDiv {
  display: none;
}

.sectionTop {
  display: flex;
  justify-content: center;
}

.boxTop {
  width: 40%;
  height: auto;
  border: solid rgba(0, 0, 0, 0.368627451) 1px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.boxImg {
  width: 100%;
  height: auto;
  transform: scale(1.1);
  transition: 1s;
}
.boxImg:hover {
  transform: scale(1.2);
  transition: 1s;
}

.boxText {
  position: absolute;
  top: 70%;
  font-size: 1em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transform: scale(1);
  transition: 0.1s;
}
.boxText:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.boxCat {
  position: absolute;
  top: 5%;
  margin-left: 3%;
  color: #ffffff;
  border-radius: 6px;
  background: linear-gradient(352deg, #5f15be 0%, #a91dc5 100%);
  font-weight: 900;
}

.boxLink {
  color: #ffffff;
}
.boxLink:hover {
  color: #f68eff;
}

.sectionTop2 {
  display: flex;
  justify-content: center;
  margin-top: 0.26em;
  margin-bottom: -0.7em;
}

.indexCarrusel {
  width: 100%;
}

.billH3 {
  font-size: 2.5em;
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
}

.billP {
  font-size: 1em;
  text-shadow: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
}

.billText {
  background-color: rgba(89, 0, 255, 0.5254901961);
  height: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 5em;
  height: 5em;
}

.carousel-control-next-icon {
  background-image: url(../img/icons/adelante.svg);
}

.carousel-control-prev-icon {
  background-image: url(../img/icons/atras.svg);
}

.sectionTop3 {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5%;
}

.sectionTop4 {
  display: flex;
  justify-content: center;
}

.sectionTop5 {
  display: flex;
  justify-content: center;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.pub {
  width: 100%;
}

.mainSubtitle {
  text-align: left;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
}

.boxLeftSection {
  text-align: center;
  width: 16%;
  height: 15%;
  display: inline-block;
  margin-bottom: 1%;
}

.titleLefttDiv {
  padding-left: 1%;
  margin: 1em;
}

.titleLeft {
  font-weight: 900;
  text-align: left;
}

.mainLeftBox {
  display: flex;
  width: 80%;
  border-bottom: 1px rgba(0, 0, 0, 0.0470588235) solid;
  border-radius: 8px;
  padding: 1%;
  margin-top: 2%;
  margin-left: 2%;
}

.leftBoxImgDiv {
  position: relative;
}

.leftBoxImg {
  border: rgba(0, 0, 0, 0.368627451) solid 1px;
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
  object-fit: cover;
}

.leftBoxDiv {
  margin: 1% 1% 1% 5%;
}

.leftBoxH3 {
  font-size: 1.3em;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.leftBoxCat {
  display: inline-block;
  margin-bottom: 0.5em;
  color: #ffffff;
  border-radius: 6px;
  border: 1px rgba(0, 0, 0, 0.0470588235) solid;
  background: linear-gradient(352deg, #4c0e9c 0%, #6b1dc5 100%);
  font-weight: 900;
  width: 5em;
  text-align: center;
}

.leftBoxP {
  line-height: 1em;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

.leftBoxLink {
  color: #000000;
}
.leftBoxLink:hover {
  color: #6a00ff;
  font-weight: 600px;
}

.titleRightDiv {
  padding-right: 1%;
  margin: 1em;
}

.titleRight {
  font-weight: 900;
  text-align: right;
}

.asideReleasesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asideReleasesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(130deg, #0b010e 5%, #360428 30%, #140113 60%);
  width: 90%;
  padding-bottom: 3%;
  border-radius: 5px;
}

.asideReleasesTitle {
  color: #ffffff;
  font-weight: 900;
  text-align: center;
  margin: 1% auto 2% auto;
  font-size: 20px;
  padding-bottom: 2%;
  border-bottom: #ffffff 1px solid;
}

.mainRightBox {
  display: flex;
  width: 80%;
  border-bottom: 1px rgba(0, 0, 0, 0.0470588235) solid;
  margin-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px #ffffff solid;
  align-items: center;
  justify-content: center;
}

.rightBoxImgDiv {
  position: relative;
}

.rightBoxImg {
  border: #ffffff solid 1px;
  width: 6vw;
  height: 7vw;
  object-fit: cover;
}

.rightBoxDiv {
  margin: 5% 1% 1% 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 38%;
}

.rightBoxH3 {
  font-size: 1.2em;
  font-weight: 600;
  white-space: nowrap;
}

.rightBoxCat {
  display: inline-block;
  color: #ffffff;
  border-radius: 6px;
  border: 1px rgba(0, 0, 0, 0.0470588235) solid;
  background: linear-gradient(352deg, #4c0e9c 0%, #6b1dc5 100%);
  font-weight: 900;
  text-align: center;
  width: 7em;
}

.rightCircleBox {
  border: rgba(158, 158, 158, 0.2117647059) 7px solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 5%;
}

.rightBoxP1 {
  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  line-height: 0em;
  margin-top: 35%;
}

.rightBoxP2 {
  font-size: 0.8em;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.rightBoxLink {
  color: #e9e9e9;
}
.rightBoxLink:hover {
  color: #6a00ff;
  font-weight: 600px;
}

.leftBottomSection {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
  border-top: rgba(0, 0, 0, 0.0470588235) 2px solid;
}

.asideArticlesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(130deg, #0b010e 5%, #360428 30%, #140113 60%);
  width: 90%;
  padding-bottom: 3%;
  border-radius: 5px;
  margin-bottom: 5%;
}

.leftBottomTitle {
  align-self: flex-end;
  margin: 0.5em 1em 0.3em 4%;
}

.articleLeft {
  width: 80%;
  border: solid rgba(158, 158, 158, 0.2117647059) 0.2em;
  border-radius: 0.5em;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 2%;
}

.articleLeftImg {
  width: 100%;
  height: 15em;
}

.articleLeftH3 {
  font-size: 1.1em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.articleLeftCat {
  position: absolute;
  top: 5%;
  margin-left: 3%;
  color: #ffffff;
  border-radius: 5px;
  background: linear-gradient(352deg, #5f15be 20%, #730d81 80%);
  font-weight: 900;
  font-size: 1.2em;
}

.articleLeftLink {
  color: #ffffff;
  background: linear-gradient(180deg, #4a06b6 1%, #420b62 80%);
  margin: 0;
}
.articleLeftLink:hover {
  color: #f68eff;
}

@media only screen and (min-width: 1516px) and (max-width: 1702px) {
  .mainGrid {
    width: 75vw;
  }
}
@media only screen and (min-width: 1215px) and (max-width: 1515px) {
  .mainGrid {
    width: 85vw;
  }
  .billH3 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1214px) {
  .mainGrid {
    width: 80vw;
  }
  .billH3 {
    font-size: 1.5em;
  }
  .billP {
    display: none;
  }
  .boxText {
    font-size: 0.8em;
  }
  .mainRightBox {
    width: 100%;
  }
  .rightBoxH3 {
    font-size: 1em;
  }
  .rightBoxCat {
    font-size: 0.8em;
  }
  .rightCircleBox {
    width: 65px;
    height: 65px;
  }
  .rightBoxP1 {
    font-size: 1em;
  }
  .rightBoxP2 {
    font-size: 0.5em;
  }
  .articleLeft {
    width: 80%;
  }
  .articleLeftImg {
    width: 100%;
    height: 10em;
  }
}
@media only screen and (min-width: 1px) and (max-width: 991px) {
  .mainContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header" "main" "contentSection" "aside" "footer";
  }
  .headerGrid {
    grid-area: header;
  }
  .mainGrid {
    grid-area: main;
    border: rgba(0, 0, 0, 0.048) solid 1px;
  }
  .contentGrid {
    grid-area: contentSection;
    border-right: rgba(0, 0, 0, 0.048) solid 0.5px;
    border-top: rgba(0, 0, 0, 0.048) solid 1px;
    grid-column: 1/span 3;
  }
  .asideGrid {
    grid-area: aside;
  }
  .footerGrid {
    grid-area: footer;
  }
  @keyframes reload {
    from {
      opacity: 0;
      transform: scale(1);
    }
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
  .sectionTop0 {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .indexMainTitleDiv {
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: 1% 1%;
    margin: 0.1em 0;
  }
  .noticiasMainTitleDiv {
    margin: 0.1em 0;
  }
  .reviewMainTitleDiv {
    margin: 0.1em 0;
  }
  .guiaMainTitleDiv {
    margin: 0.1em 0;
  }
  .noticiasMainTitle {
    margin: 0;
  }
  .reviewMainTitle {
    margin: 0;
  }
  .guiaMainTitle {
    margin: 0;
  }
  .indexMainTitle {
    margin: 0;
    color: #ffffff;
    text-align: center;
    line-height: 200%;
    font-size: 4em;
    font-weight: 1000;
    text-shadow: -1px 0 black, 0 5px rgb(46, 4, 100), 1px 0 black, 0 -1px black;
    font-style: italic;
    width: 100%;
    background-image: url(../img/bg/bgMain.webp);
    background-position: 1%;
    transition: 1s;
  }
  .indexMainTitle:hover {
    text-shadow: -1px 0 rgb(179, 0, 196), 0 5px rgb(105, 3, 240), 3px 0 rgb(172, 0, 135), 0 -1px black;
    background-position: 20%;
    transition: 1s;
  }
  .sectionTop {
    margin: 0;
    flex-wrap: wrap;
  }
  .boxTop {
    border: 1px rgba(0, 0, 0, 0.048) solid;
    width: 33.33%;
  }
  .boxText {
    top: 61%;
    font-size: 1em;
  }
  .boxCat {
    font-size: 1em;
  }
  .sectionTop2 {
    flex-direction: column;
    align-items: center;
    margin-top: 0.25em;
    margin-bottom: -0.95em;
  }
  .indexCarrusel {
    width: 100%;
  }
  .billH3 {
    font-size: 1.5em;
  }
  .billP {
    display: none;
  }
  .sectionTop3 {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  .sectionTop5 {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
  }
  .pub {
    height: 4em;
  }
  .sectionTop4 {
    flex-wrap: wrap;
    margin: 0;
  }
  .boxTop2 {
    overflow: hidden;
    width: 50%;
    border-radius: 0px;
    margin: 0;
  }
  .boxText2 {
    font-size: 1.7em;
    top: 60%;
    background: rgba(89, 0, 255, 0.5254901961);
  }
  .titleLefttDiv {
    padding: 0;
  }
  .titleLeft {
    text-align: center;
    text-decoration: underline;
  }
  .leftSection {
    align-items: center;
  }
  .mainLeftBox {
    align-items: center;
  }
  .leftBoxImg {
    width: 200px;
    height: 200px;
  }
  .asideArticlesSection,
.asideReleasesSection {
    width: 40em;
  }
  .rightBoxImg {
    width: 10em;
    height: 9em;
  }
}
@media only screen and (min-width: 561px) and (max-width: 834px) {
  .boxText {
    font-size: 0.8em;
  }
  .boxText2 {
    font-size: 1em;
    top: 77%;
  }
}
@media only screen and (min-width: 1px) and (max-width: 660px) {
  .indexMainTitle {
    font-size: 2em;
    overflow: hidden;
  }
  .sectionTop {
    border: 0px;
  }
  .sectionTop2 {
    display: none;
  }
  .sectionTop3 {
    margin-top: 0.2%;
    margin-bottom: 0.2%;
  }
  .boxTop {
    overflow: hidden;
    width: 100%;
    height: 50%;
    border-radius: 0px;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
  }
  .sectionTop4 {
    margin: 0;
  }
  .boxTop2 {
    margin-top: 0.1%;
    margin-bottom: 0.1%;
  }
  .boxText2 {
    background: none;
  }
  .boxText {
    font-size: 1.4em;
    top: 65%;
  }
  .boxCat {
    font-size: 1.5em;
  }
  .pub {
    height: 2em;
  }
  .mainLeftBox {
    flex-direction: column;
  }
  .leftBoxDiv {
    text-align: center;
  }
  .leftBoxImg {
    width: 70vw;
    height: 150px;
    border-radius: 40px;
  }
  .leftBoxH3 {
    padding: 0;
  }
  .leftBoxCat {
    width: 10em;
  }
  .asideArticlesSection,
.asideReleasesSection {
    width: 90vw;
  }
  .mainRightBox {
    margin: 4% 0;
  }
  .mainRightBox,
.rightBoxDiv {
    flex-direction: column;
    align-items: center;
  }
  .rightCircleBox {
    margin: 0;
  }
  .rightBoxImg {
    width: 22em;
    height: 14em;
  }
  .rightBoxDiv {
    margin: 4% 0 0 0;
  }
}
@media only screen and (min-width: 367px) and (max-width: 440px) {
  .boxText {
    font-size: 1.2em;
  }
  .pub {
    height: 1.4em;
  }
  .sectionTop3 {
    margin-bottom: 1%;
  }
  .articleLeft {
    width: 90%;
  }
  .rightBoxImg {
    width: 15em;
    height: 8em;
  }
}
@media only screen and (min-width: 1px) and (max-width: 366px) {
  .boxText {
    font-size: 1.1em;
    top: 60%;
  }
  .sectionTop3 {
    display: none;
  }
  .rightBoxImg {
    width: 12em;
    height: 7em;
  }
  .asideArticlesSection {
    display: none;
  }
}
.guiaMainDiv {
  display: flex;
  justify-content: center;
}

.guiaMain {
  background: linear-gradient(90deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%);
  width: 60%;
  animation-name: reload;
  animation-duration: 0.5s;
}

.guiaArtSectionTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guiaMainTitleDiv {
  width: 99%;
  border-radius: 10px;
  margin: 0.4% 1%;
}

.guiaMainTitle {
  color: white;
  text-align: center;
  line-height: 400%;
  font-size: 4em;
  font-weight: 1000;
  text-shadow: -1px 0 black, 0 5px rgb(46, 4, 100), 1px 0 black, 0 -1px black;
  background-image: url(../img/bg/bgMain.webp);
  background-position: 1%;
  transition: 1s;
}
.guiaMainTitle:hover {
  text-shadow: -1px 0 rgb(179, 0, 196), 0 5px rgb(105, 3, 240), 3px 0 rgb(172, 0, 135), 0 -1px black;
  background-position: 20%;
  transition: 1s;
}

.guiaCatUl {
  background: linear-gradient(352deg, #5f15be 20%, #730d81 80%);
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 1%;
  border-radius: 8px;
}

.guiaCatLi {
  font-size: 2em;
  font-weight: 800;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.guiaCatLink {
  color: #ffffff;
}
.guiaCatLink:hover {
  color: #ea00ff;
  font-weight: 900px;
}

.guiaArtSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guiaArtH2Div {
  margin-top: 2%;
  margin-bottom: 2%;
}

.guiaArtH2 {
  font-size: 2em;
  font-weight: 800;
}

.guiaArtMain {
  display: flex;
  width: 47em;
  height: auto;
  border: 1px rgba(0, 0, 0, 0.048) solid;
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 8px;
  align-items: center;
  margin: 1% auto 2% auto;
}
.guiaArtMain:hover {
  transform: translatex(5px);
  transition: transform 0.2s;
}

.guiaArtImgDiv {
  order: 2;
  width: 100%;
}

.guiaArtImg {
  width: 100%;
  height: 15em;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

.guiaArtDiv {
  order: 1;
  width: 90%;
  height: 90%;
  height: 15em;
  overflow: hidden;
}

.guiaArtH3 {
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 0.5em;
  text-align: left;
  margin-left: 1%;
}

.guiaArtCat {
  display: inline-block;
  margin-left: 2%;
  color: #ffffff;
  border-radius: 6px;
  border: 1px rgba(0, 0, 0, 0.048) solid;
  background: linear-gradient(12deg, #5f15be 50%, #9703a5 100%);
  font-weight: 900;
  width: 5em;
  text-align: center;
}

.guiaArtP {
  line-height: 1em;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 0 5%;
}

.guiaArtLink {
  color: #000000;
}
.guiaArtLink:hover {
  color: #6a00ff;
  font-weight: 600px;
  border: none;
}

@media only screen and (min-width: 1516px) and (max-width: 1702px) {
  .guiaMain {
    width: 75vw;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1515px) {
  .guiaMain {
    width: 85vw;
  }
}
@media only screen and (min-width: 1px) and (max-width: 991px) {
  .guiaMain {
    width: 100%;
  }
  .guiaMainTitle {
    line-height: 200%;
  }
  .guiaCatUl {
    text-align: center;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 0;
  }
  .guiaCatLi {
    font-size: 1.9em;
    margin-left: 1%;
    line-height: 300%;
  }
  .guiaArtMain {
    flex-direction: column-reverse;
    width: 80%;
    border-radius: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .guiaArtMain:hover {
    transform: translatex(0px);
    transition: transform 0.2s;
  }
  .guiaArtImg {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    margin: 0;
    padding: 0;
    object-fit: cover;
  }
  .guiaArtDiv {
    order: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: auto;
    overflow: hidden;
    width: 100%;
  }
  .guiaArtH3 {
    font-size: 1.5em;
    font-weight: 0;
    padding-bottom: 0;
    text-align: center;
    padding: 2% 0 2% 0;
  }
  .guiaArtCat {
    display: inline-block;
    margin: 0;
    border: 0;
    border-radius: 0;
    font-weight: 2000;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
  }
  .guiaArtP {
    display: none;
  }
}
@media only screen and (min-width: 1px) and (max-width: 660px) {
  .guiaMain {
    overflow: hidden;
  }
  .guiaArtSection {
    align-items: center;
  }
  .guiaMainTitle {
    font-size: 2em;
    overflow: hidden;
  }
  .guiaCatUl {
    flex-direction: column;
    border-radius: 1%;
    width: 100%;
    background: linear-gradient(180deg, #4a06b6 1%, #420b62 80%);
  }
  .guiaCatLi {
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 1%;
    font-size: 1.4em;
    margin: 1% 0 1% 0%;
    text-align: center;
  }
  .guiaArtH2Div {
    margin-bottom: 5%;
  }
  .guiaArtH2 {
    font-size: 1.7em;
    font-weight: 800;
  }
}
@media only screen and (min-width: 1px) and (max-width: 366px) {
  .guiaArtH2 {
    font-size: 1.3em;
    font-weight: 800;
  }
  .guiaArtH3 {
    font-size: 1.1em;
    padding: 1% 0;
  }
}
.reviewMainDiv {
  display: flex;
  justify-content: center;
}

.reviewMain {
  background: linear-gradient(90deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%);
  width: 60%;
  animation-name: reload;
  animation-duration: 0.5s;
}

.reviewSectionTop {
  display: flex;
  justify-content: center;
}

.reviewMainTitleDiv {
  width: 99%;
  border-radius: 10px;
  margin: 0.4% 0;
}

.reviewMainTitle {
  color: #ffffff;
  text-align: center;
  line-height: 400%;
  font-size: 4em;
  font-weight: 1000;
  text-shadow: -1px 0 black, 0 5px rgb(46, 4, 100), 1px 0 black, 0 -1px black;
  background-image: url(../img/bg/bgMain.webp);
  background-position: 1%;
  transition: 1s;
}
.reviewMainTitle:hover {
  text-shadow: -1px 0 rgb(179, 0, 196), 0 5px rgb(105, 3, 240), 3px 0 rgb(172, 0, 135), 0 -1px black;
  background-position: 20%;
  transition: 1s;
}

.reviewArtSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px rgba(0, 0, 0, 0.185) solid;
}

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}
.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px solid rgba(158, 158, 158, 0.2117647059);
  position: absolute;
  top: 0;
  left: 0;
}
.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}
.progress .progress-left {
  left: 0;
}
.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  transform-origin: center left;
}
.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 15px;
  border-style: solid;
  position: absolute;
  top: 0;
}
.progress .progress-right {
  right: 0;
}
.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  transform-origin: center right;
  -webkit-animation: loading-0 1.8s linear forwards;
  animation: loading-0 1.8s linear forwards;
}
.progress .progress-value {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  font-weight: 1000;
  font-size: 3em;
  color: #ffffff;
  text-shadow: -1px 0 rgb(97, 6, 139), 0 1px rgb(185, 7, 171), 1px 0 rgba(0, 0, 0, 0.329), 0 -1px rgb(60, 7, 121);
  z-index: 2;
}

.progress.barBg .progress-bar {
  border-color: #5f15be;
}

.progress.one .progress-left .progress-bar {
  -webkit-animation: loading-1 1s linear forwards 1.8s;
  animation: loading-1 1s linear forwards 1.8s;
}

.progress.two .progress-left .progress-bar {
  -webkit-animation: loading-2 1s linear forwards 1.8s;
  animation: loading-2 1s linear forwards 1.8s;
}

.progress.three .progress-left .progress-bar {
  -webkit-animation: loading-3 1s linear forwards 1.8s;
  animation: loading-3 1s linear forwards 1.8s;
}

.progress.four .progress-left .progress-bar {
  -webkit-animation: loading-4 1s linear forwards 1.8s;
  animation: loading-4 1s linear forwards 1.8s;
}

.progress.five .progress-left .progress-bar {
  -webkit-animation: loading-5 1s linear forwards 1.8s;
  animation: loading-5 1s linear forwards 1.8s;
}

.progress.six .progress-left .progress-bar {
  -webkit-animation: loading-6 1s linear forwards 1.8s;
  animation: loading-6 1s linear forwards 1.8s;
}

.progress.seven .progress-left .progress-bar {
  -webkit-animation: loading-7 1s linear forwards 1.8s;
  animation: loading-7 1s linear forwards 1.8s;
}

.progress.eight .progress-left .progress-bar {
  -webkit-animation: loading-8 1s linear forwards 1.8s;
  animation: loading-8 1s linear forwards 1.8s;
}

.reviewImg {
  object-fit: cover;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  margin-top: 14px;
  margin-left: 14px;
  position: absolute;
  z-index: 1;
}

@-webkit-keyframes loading-0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes loading-0 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@-webkit-keyframes loading-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(142deg);
  }
}
@keyframes loading-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(142deg);
  }
}
@-webkit-keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(162deg);
  }
}
@keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(162deg);
  }
}
@-webkit-keyframes loading-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(129.6deg);
  }
}
@keyframes loading-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(129.6deg);
  }
}
@-webkit-keyframes loading-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(136.8deg);
  }
}
@keyframes loading-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(136.8deg);
  }
}
@-webkit-keyframes loading-5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(169.2deg);
  }
}
@keyframes loading-5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(169.2deg);
  }
}
@-webkit-keyframes loading-6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes loading-6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes loading-7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(115.2deg);
  }
}
@keyframes loading-7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(115.2deg);
  }
}
@-webkit-keyframes loading-8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(151.2deg);
  }
}
@keyframes loading-8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(151.2deg);
  }
}
.reviewArtImgMobile {
  display: none;
}

.reviewPuntaje {
  display: none;
}

.reviewSection {
  display: flex;
  flex-direction: column;
}

.reviewArt {
  display: flex;
  width: 40%;
  margin: 3% 2%;
  align-items: stretch;
}

.reviewArtLink {
  color: #000000;
}
.reviewArtLink:hover {
  color: #6a00ff;
  font-weight: 600px;
}

.reviewArtImg {
  width: 20em;
  order: 2;
  margin-left: -0.1em;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.reviewArtDiv {
  order: 1;
  margin: 1em;
}

.reviewArtH3 {
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 0.5em;
  text-align: center;
}

.reviewArtP {
  line-height: 1em;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
}

@media only screen and (min-width: 1516px) and (max-width: 1702px) {
  .reviewMain {
    width: 75vw;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1515px) {
  .reviewMain {
    width: 85vw;
  }
}
@media only screen and (min-width: 1px) and (max-width: 991px) {
  .reviewMainTitle {
    line-height: 200%;
  }
  .reviewMain {
    width: 100%;
  }
  .reviewBar {
    display: none;
  }
  .reviewArtSection {
    flex-flow: row wrap;
    margin-top: 0;
  }
  .reviewArt {
    flex-direction: column;
    align-items: center;
    border: 1px rgba(0, 0, 0, 0.048) solid;
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 8px;
  }
  .reviewArtImgMobile {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .reviewArtDiv {
    height: 9em;
    overflow: hidden;
  }
  .reviewPuntaje {
    padding: 10%;
    z-index: 5;
    position: absolute;
    font-weight: 1000;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 2px 1px rgba(255, 0, 0, 0.4039215686);
    display: inline;
  }
}
@media only screen and (min-width: 1px) and (max-width: 660px) {
  .reviewMainTitle {
    font-size: 2em;
    overflow: hidden;
  }
  .reviewSection {
    flex-direction: column;
  }
  .reviewArt {
    width: 80%;
  }
  .reviewArtDiv {
    height: 10em;
  }
  .reviewArtH3 {
    font-size: 2em;
  }
  .reviewArtP {
    font-size: 1.1em;
  }
  .reviewPuntaje {
    padding: 20%;
    z-index: 5;
    position: absolute;
    font-weight: 1000;
    font-size: 5em;
    display: block;
  }
}
@media only screen and (min-width: 1px) and (max-width: 348px) {
  .reviewPuntaje {
    font-size: 4em;
    padding: 15%;
  }
  .reviewArtDiv {
    height: 1.3em;
  }
  .reviewArtH3 {
    font-size: 1.1em;
  }
  .reviewArtP {
    display: none;
  }
}
.noticiasMainDiv {
  display: flex;
  justify-content: center;
}

.noticiasMain {
  background: linear-gradient(90deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%);
  animation-name: reload;
  animation-duration: 0.2s;
  width: 60%;
}

.noticiasTopSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noticiasMainTitleDiv {
  width: 99%;
  border-radius: 10px;
  margin: 0.4% 0;
}

.noticiasMainTitle {
  color: #ffffff;
  text-align: center;
  line-height: 400%;
  font-size: 4em;
  font-weight: 1000;
  text-shadow: -1px 0 black, 0 5px rgb(46, 4, 100), 1px 0 black, 0 -1px black;
  background-image: url(../img/bg/bgMain.webp);
  background-position: 1%;
  transition: 1s;
}
.noticiasMainTitle:hover {
  text-shadow: -1px 0 rgb(179, 0, 196), 0 5px rgb(105, 3, 240), 3px 0 rgb(172, 0, 135), 0 -1px black;
  background-position: 20%;
  transition: 1s;
}

.noticiasCatUl {
  background: linear-gradient(352deg, #5f15be 20%, #730d81 80%);
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 1%;
  border-radius: 8px;
}

.noticiasCatLi {
  font-size: 2em;
  font-weight: 800;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.noticiasCatLink {
  color: #ffffff;
}
.noticiasCatLink:hover {
  color: #ea00ff;
  font-weight: 900px;
}

.noticiasMidSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.noticiasArtMain {
  display: flex;
  width: 20em;
  height: auto;
  margin: 1%;
  overflow: hidden;
  flex-direction: column;
}
.noticiasArtMain:hover {
  transform: translatey(5px);
  transition: transform 0.2s;
}

.noticiasArtCat {
  text-align: center;
  color: #ffffff;
  background: linear-gradient(352deg, #5f15be 0%, #a91dc5 100%);
  font-weight: 900;
}

.noticiasArtImgDiv {
  width: 100%;
}

.noticiasArtImg {
  width: 100%;
  height: 10em;
}

.noticiasArtDiv {
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #000000;
  height: 9em;
}
.noticiasArtDiv:hover {
  color: #6a00ff;
}

.noticiasArtH3 {
  font-size: 1.2em;
  line-height: 1.1em;
}

.noticiasArtP {
  font-size: 0.9em;
  line-height: 1em;
  overflow: hidden;
}

.miniArtDiv {
  display: flex;
}

.noticiasArMiniP {
  font-size: 0.9em;
  color: #000000;
  padding-left: 1%;
  padding-right: 4%;
}

@media only screen and (min-width: 1516px) and (max-width: 1702px) {
  .noticiasMain {
    width: 75vw;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1515px) {
  .noticiasMain {
    width: 85vw;
  }
}
@media only screen and (min-width: 1px) and (max-width: 991px) {
  .noticiasMain {
    width: 100%;
  }
  .noticiasMainTitle {
    line-height: 200%;
  }
  .noticiasCatUl {
    text-align: center;
    flex-direction: row;
    width: 90%;
    margin-bottom: 2%;
    margin-top: 0;
  }
  .noticiasCatLi {
    font-size: 1.9em;
    margin-left: 1%;
    line-height: 300%;
  }
  .noticiasArtMain:hover {
    transform: translatey(0px);
  }
}
@media only screen and (min-width: 661px) and (max-width: 666px) {
  .noticiasArtMain {
    width: 45%;
  }
}
@media only screen and (min-width: 1px) and (max-width: 660px) {
  .noticiasMainTitle {
    font-size: 2em;
    overflow: hidden;
  }
  .noticiasCatUl {
    flex-direction: column;
    border-radius: 1%;
    width: 100%;
    background: linear-gradient(180deg, #4a06b6 1%, #420b62 80%);
  }
  .noticiasCatLi {
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
    border-radius: 1%;
    font-size: 1.4em;
    margin: 1% 0 1% 0;
    text-align: center;
  }
  .noticiasArtMain {
    width: 90%;
    margin-bottom: 5%;
  }
  .noticiasArtImg {
    width: 100%;
    height: 16em;
  }
  .noticiasArtDiv {
    height: auto;
  }
  .noticiasArtH3 {
    font-size: 1.5em;
    text-align: center;
  }
  .noticiasArtP {
    font-size: 1em;
    text-align: center;
  }
  .miniArtDiv {
    justify-content: center;
    margin-top: 2%;
  }
}
/* Media Query Mobile Medium */
@media only screen and (min-width: 367px) and (max-width: 460px) {
  .noticiasArtMain {
    width: 95%;
  }
  .noticiasArtImg {
    width: 100%;
    height: 15em;
  }
}
@media only screen and (min-width: 1px) and (max-width: 366px) {
  .noticiasArtMain {
    width: 100%;
  }
  .noticiasArtImg {
    width: 100%;
    height: 10em;
  }
  .noticiasArtH3 {
    font-size: 1.3em;
  }
  .noticiasArtP {
    display: none;
  }
}
.contactMainDiv {
  display: flex;
  justify-content: center;
}

.contactMain {
  background: linear-gradient(90deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%);
  width: 60%;
  animation-name: reload;
  animation-duration: 0.5s;
}

.contactTopSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactMidSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactFormContainer {
  padding: 2%;
  background: linear-gradient(352deg, #5f15be 20%, #730d81 80%);
  border-radius: 1%;
  width: 90%;
}

textarea:focus {
  border-color: rgba(170, 13, 255, 0.2196078431);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  outline: 0 none;
}

input:focus {
  border-color: rgba(170, 13, 255, 0.2196078431);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  outline: 0 none;
}

input[type=text]:focus {
  border-color: rgba(170, 13, 255, 0.2196078431);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  outline: 0 none;
}

input[type=email]:focus {
  border-color: rgba(170, 13, 255, 0.2196078431);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  outline: 0 none;
}

input[type=search]:focus {
  border-color: rgba(170, 13, 255, 0.2196078431);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  outline: 0 none;
}

.form-select:focus {
  border-color: rgba(170, 13, 255, 0.2196078431);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  outline: 0 none;
}

.form-control:focus {
  border-color: rgba(170, 13, 255, 0.2196078431);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  outline: 0 none;
}

.contactFormTitleDiv {
  margin-bottom: 5%;
  background-image: url(../img/bg/bgChillBear.webp);
  background-position: center;
  background-position-y: 44%;
  border-radius: 2em;
}

.contactFormTitle {
  text-align: center;
  font-size: 2.5em;
  line-height: 2em;
  font-weight: 700;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 5px rgb(46, 4, 100), 1px 0 black, 0 -1px black;
}
.contactFormTitle:hover {
  text-shadow: -1px 0 rgb(179, 0, 196), 0 5px rgb(105, 3, 240), 3px 0 rgb(172, 0, 135), 0 -1px black;
}

.spanSize {
  width: 3.7em;
}

.genIco {
  width: 2em;
}

.contactGenreDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(170, 13, 255, 0.2196078431);
}

.contactGenre {
  margin: 1%;
}

.formText {
  color: #ffffff;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 2px rgb(3, 0, 3), 1px 0 rgba(0, 0, 0, 0.699), 0 -1px rgb(0, 0, 0);
}

.favGenre {
  margin: 1% 0;
}

.spanBg {
  background: linear-gradient(20deg, rgb(58, 11, 102) 20%, rgb(97, 3, 160) 80%);
  border: black solid 0px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.contactFormButtons {
  display: flex;
  justify-content: center;
}

.btnContact {
  width: 25%;
  background: linear-gradient(352deg, #660b5a 20%, #730d81 80%);
  border: rgba(0, 0, 0, 0.185) solid 1px;
  text-shadow: -1px 0 rgb(0, 0, 0), 0 2px rgb(3, 0, 3), 1px 0 rgba(0, 0, 0, 0.699), 0 -1px rgb(0, 0, 0);
  color: #ffffff;
  margin: 1%;
}
.btnContact:hover {
  border-color: #7e0578;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  color: #f68eff;
  outline: 0 none;
}
.btnContact:focus {
  border-color: #7e0578;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
  color: #f68eff;
  outline: 0 none;
}

.contactAside {
  margin-top: 2%;
}

.contactAsideTitle {
  text-align: left;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 1.5em;
}

.contactAsideSection {
  display: flex;
  flex-flow: wrap row;
  justify-content: center;
}

/* Media Query Laptop - Notebook BIG */
@media only screen and (min-width: 1516px) and (max-width: 1702px) {
  .contactMain {
    width: 75vw;
  }
}
/* Media Query Laptop - Notebook */
@media only screen and (min-width: 992px) and (max-width: 1515px) {
  .contactMain {
    width: 85vw;
  }
}
/* Media Query Mobile Small Size */
@media only screen and (min-width: 1px) and (max-width: 991px) {
  .contactMain {
    width: 100%;
  }
  .contactFormContainer {
    width: 100%;
  }
}
/* Media Query Mobile Medium */
@media only screen and (min-width: 367px) and (max-width: 440px) {
  .contactFormTitle {
    font-size: 2em;
  }
}
/* Media Query Mobile Small Size */
@media only screen and (min-width: 1px) and (max-width: 366px) {
  .contactFormTitle {
    font-size: 1.7em;
  }
  .contactAsideTitle {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
