@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap";

/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bodyBg {
    background-image: $bgMain;
    background-position: center;
    background-attachment: fixed;
}

.fix {
    min-height: 100vh;
}

@keyframes reload {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

// General - CLASS

.mainPagesDiv {
    @include flex (row nowrap, center, normal);
}

.mainPages {
    background: map-get($map: $colores, $key: "bg2");
    animation-name: reload;
    animation-duration: 0.5s;
    width: 60%;
}

.mainTitleSection {
    @include flex (column nowrap, normal, center);
    padding: 0.1%;
}

.mainTitleDiv {
    width: 100%;
    height: auto;
}

.mainTitle {
    color: map-get($map: $colores, $key: "text2");
    text-align: center;
    line-height: 400%;
    font-size: 4em;
    font-weight: 1000;
    text-shadow: $titleShadow1;
    background-image: $bgMain;
    background-position: 1%;
    transition: 1s;

    &:hover {
        text-shadow: $titleShadow2;
        background-position: 20%;
        transition: 1s;
    }
}


// General - MEDIA QUERY 

// Media Query Laptop - Notebook BIG

@media only screen and (min-width: 1516px) and (max-width:1702px) {
    .mainPages {
        width: 75vw;
    }
}

// Media Query Laptop - Notebook

@media only screen and (min-width: 992px) and (max-width:1515px) {
    .mainPages {
        width: 85vw;
    }
}

// Media Query Tablet-Mobile General

@media only screen and (min-width: 1px) and (max-width:991px) {
    .mainPages {
        width: 100%;
    }

    @keyframes reload {
        from {
            opacity: 0;
            transform: scale(1);
        }
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

    .mainTitle {
        line-height: 200%;
        margin: 0.1%;
    }
}

// Media Query Mobile General

@media only screen and (min-width: 1px) and (max-width:660px) {

    .mainTitle {
        font-size: 2em;
        overflow: hidden;
    }
}