// Guias - MAIN 

.guiaMainDiv {
    display: flex;
    justify-content: center;
}

.guiaMain {
    background: map-get($map: $colores, $key: "bg2");
    width: 60%;
    animation-name: reload;
    animation-duration: 0.5s;
}

// Guias - TOP SECTION 

.guiaArtSectionTop {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guiaMainTitleDiv {
    width: 99%;
    border-radius: 10px;
    margin: 0.4% 1%;
}

.guiaMainTitle {
    color: white;
    text-align: center;
    line-height: 400%;
    font-size: 4em;
    font-weight: 1000;
    text-shadow: $titleShadow1;
    background-image: $bgMain;
    background-position: 1%;
    transition: 1s;

    &:hover {
        text-shadow: $titleShadow2;
        background-position: 20%;
        transition: 1s;
    }
}

.guiaCatUl {
    background: map-get($map: $colores, $key: "cat3");
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 1%;
    border-radius: 8px;
}

.guiaCatLi {
    color: map-get($map: $colores, $key: "text2");

    &:hover {
        color: map-get($map: $colores, $key: "link3");
        font-weight: 900px;
    }
}

.guiaCatLab {
    font-size: 2em;
    font-weight: 800;
    text-shadow: $textShadow1;
}

// Guias - MID SECTION 

input[type="radio"] {
    position: absolute;
    left: -9999px;
}

[value="TODO"]:checked~.filters [for="TODO"],
[value="LOGROS"]:checked~.filters [for="LOGROS"],
[value="TRUCOS"]:checked~.filters [for="TRUCOS"],
[value="GUIAS"]:checked~.filters [for="GUIAS"],
[value="WordPress"]:checked~.filters [for="WordPress"],
[value="Slider"]:checked~.filters [for="Slider"],
[value="fullPage.js"]:checked~.filters [for="fullPage.js"] {
    background: var(--green);
    color: var(--white);
}

[value="All"]:checked~.guiaPosts [data-category] {
    display: block;
}

[value="LOGROS"]:checked~.guiaPosts .guiaPost:not([data-category~="LOGROS"]),
[value="TRUCOS"]:checked~.guiaPosts .guiaPost:not([data-category~="TRUCOS"]),
[value="GUIAS"]:checked~.guiaPosts .guiaPost:not([data-category~="GUIAS"]) {
    display: none;
}

.guiaArtSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guiaArtMain {
    display: flex;
    width: 47em;
    height: auto;
    border: 1px map-get($map: $colores, $key: "border3") solid;
    background-color: map-get($map: $colores, $key: "border3");
    border-radius: 8px;
    align-items: center;
    margin: 1% auto 2% auto;

    &:hover {
        transform: translatex(5px);
        transition: transform 0.2s;
    }
}

.guiaArtImgDiv {
    order: 2;
    width: 100%;
}

.guiaArtImg {
    width: 100%;
    height: 15em;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.guiaArtDiv {
    order: 1;
    width: 90%;
    height: 90%;
    height: 15em;
    overflow: hidden;
}

.guiaArtH3 {
    font-size: 1.4em;
    font-weight: 600;
    padding-bottom: 0.5em;
    text-align: left;
    margin-left: 1%;
}

.guiaArtCat {
    display: inline-block;
    margin-left: 2%;
    color: map-get($map: $colores, $key: "text2");
    border-radius: 6px;
    border: 1px map-get($map: $colores, $key: "border3") solid;
    background: map-get($map: $colores, $key: "cat4");
    font-weight: 900;
    width: 5em;
    text-align: center;
}

.guiaArtP {
    line-height: 1em;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 0 5%;
}

.guiaArtLink {
    color: map-get($map: $colores, $key: "text1");

    &:hover {
        color: map-get($map: $colores, $key: "link2");
        font-weight: 600px;
        border: none;
    }
}

// Guias - MEDIA QUERY 

// Media Query Laptop - Notebook BIG

@media only screen and (min-width: 1516px) and (max-width:1702px) {
    .guiaMain {
        width: 75vw;
    }
}

// Media Query Laptop - Notebook

@media only screen and (min-width: 992px) and (max-width:1515px) {
    .guiaMain {
        width: 85vw;
    }
}

// Media Query laptop-Tablet-Mobile General

@media only screen and (min-width: 1px) and (max-width:991px) {
    .guiaMain {
        width: 100%;
    }

    .guiaMainTitle {
        line-height: 200%;
    }

    .guiaCatUl {
        text-align: center;
        width: 90%;
        margin-bottom: 2%;
        margin-top: 0;
    }

    .guiaCatLab {
        font-size: 1.9em;
        line-height: 300%;
    }

    .guiaArtMain {
        flex-direction: column-reverse;
        width: 80%;
        border-radius: 0px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        &:hover {
            transform: translatex(0px);
            transition: transform 0.2s;
        }
    }

    .guiaArtImg {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        margin: 0;
        padding: 0;
        object-fit: cover;
    }

    .guiaArtDiv {
        order: 1;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        overflow: hidden;
        width: 100%;
    }

    .guiaArtH3 {
        font-size: 1.5em;
        font-weight: 0;
        padding-bottom: 0;
        text-align: center;
        padding: 2% 0 2% 0;
    }

    .guiaArtCat {
        display: inline-block;
        margin: 0;
        border: 0;
        border-radius: 0;
        font-weight: 2000;
        width: 100%;
        text-align: center;
        font-size: 1.4em;
    }

    .guiaArtP {
        display: none;
    }
}

// Media Query Mobile General

@media only screen and (min-width: 1px) and (max-width: 660px) {
    .guiaMain {
        overflow: hidden;
    }

    .guiaArtSection {
        align-items: center;
    }

    .guiaMainTitle {
        font-size: 2em;
        overflow: hidden;
    }

    .guiaCatUl {
        flex-direction: column;
        border-radius: 1%;
        width: 100vw;
        background: map-get($map: $colores, $key: "cat5");
    }

    .guiaCatLi {
        border-bottom: 1px solid map-get($map: $colores, $key: "border4");
        border-radius: 1%;
    }

    .guiaCatLab {
        font-size: 1.4em;
        margin: 1% 0 1% 0%;
        text-align: center;
    }
}

// Media Query Mobile Small Size

@media only screen and (min-width: 1px) and (max-width:366px) {
    .guiaArtH3 {
        font-size: 1.1em;
        padding: 1% 0;
    }
}