// Index - MAIN GRIDS

.mainContainer {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header header"
        "nada main main nada2"
        "nada contentSection aside nada2"
        "footer footer footer footer";
}

.headerGrid {
    grid-area: header;
}

.mainGrid {
    grid-area: main;
    border: map-get($map: $colores, $key: "border3") solid 1px;
    background: map-get($map: $colores, $key: "bg1");
    animation-name: reload;
    animation-duration: 0.5s;
}

.nada1 {
    grid-area: nada;
}

.nada2 {
    grid-area: nada2;
}

.contentGrid {
    grid-area: contentSection;
    border-right: map-get($map: $colores, $key: "border3") solid 0.5px;
    border-top: map-get($map: $colores, $key: "border3") solid 1px;
    background: map-get($map: $colores, $key: "bg2");
    animation-name: reload;
    animation-duration: 0.5s;
}

.asideGrid {
    grid-area: aside;
    border-left: rgba(0, 0, 0, 0.048) solid 0.5px;
    border-top: map-get($map: $colores, $key: "border3") solid 1px;
    background: map-get($map: $colores, $key: "bg2");
    animation-name: reload;
    animation-duration: 0.5s;
}

.footerGrid {
    grid-area: footer;
}

// Index - TOP SECTION

.sectionTop0,
.indexMainTitleDiv {
    display: none;
}

.sectionTop {
    display: flex;
    justify-content: center;
}

.boxTop {
    width: 40%;
    height: auto;
    border: solid map-get($map: $colores, $key: "border1") 1px;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.boxImg {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: 1s;

    &:hover {
        transform: scale(1.2);
        transition: 1s;
    }
}

.boxText {
    position: absolute;
    top: 70%;
    font-size: 1em;
    text-shadow: $textShadow1;
    transform: scale(1);
    transition: 0.1s;

    &:hover {
        transform: scale(1.1);
        transition: 0.1s;
    }
}

.boxCat {
    position: absolute;
    top: 5%;
    margin-left: 3%;
    color: map-get($map: $colores, $key: "text2");
    border-radius: 6px;
    background: map-get($map: $colores, $key: "cat1");
    font-weight: 900;
}

.boxLink {
    color: map-get($map: $colores, $key:"text2");

    &:hover {
        color: map-get($map: $colores, $key:"link1");
    }
}

.sectionTop2 {
    display: flex;
    justify-content: center;
    margin-top: 0.26em;
    margin-bottom: -0.7em;
}

.indexCarrusel {
    width: 100%;
}

.billH3 {
    font-size: 2.5em;
    text-shadow: $textShadow2;
}

.billP {
    font-size: 1em;
    text-shadow: $textShadow2;
}

.billText {
    background-color: map-get($map: $colores, $key:"bg3");
    height: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 5em;
    height: 5em;
}

.carousel-control-next-icon {
    background-image: url(../img/icons/adelante.svg);
}

.carousel-control-prev-icon {
    background-image: url(../img/icons/atras.svg);
}

.sectionTop3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5%;
}

.sectionTop4 {
    display: flex;
    justify-content: center;
}

.sectionTop5 {
    display: flex;
    justify-content: center;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.pub {
    width: 100%;
}

// Index - MID SECTION LEFT

.mainSubtitle {
    text-align: left;
}

.leftSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.boxLeftSection {
    text-align: center;
    width: 16%;
    height: 15%;
    display: inline-block;
    margin-bottom: 1%;
}

.titleLefttDiv {
    padding-left: 1%;
    margin: 1em;
}

.titleLeft {
    font-weight: 900;
    text-align: left;
}

.mainLeftBox {
    display: flex;
    width: 80%;
    border-bottom: 1px map-get($map: $colores, $key: "border2") solid;
    border-radius: 8px;
    padding: 1%;
    margin-top: 2%;
    margin-left: 2%;
}

.leftBoxImgDiv {
    position: relative;
}

.leftBoxImg {
    border: map-get($map: $colores, $key: "border1") solid 1px;
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

.leftBoxDiv {
    margin: 1% 1% 1% 5%;
}

.leftBoxH3 {
    font-size: 1.3em;
    font-weight: 600;
    padding-bottom: 0.5em;
}

.leftBoxCat {
    display: inline-block;
    margin-bottom: 0.5em;
    color: map-get($map: $colores, $key: "text2");
    border-radius: 6px;
    border: 1px map-get($map: $colores, $key: "border2") solid;
    background: map-get($map: $colores, $key: "cat2");
    font-weight: 900;
}

.leftBoxP {
    line-height: 1em;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: map-get($map: $colores, $key: "text1");
}

.leftBoxLink {
    color: map-get($map: $colores, $key: "text1");

    &:hover {
        color: map-get($map: $colores, $key: "link2");
        font-weight: 600px;
    }
}

// Index - MID SECTION RIGHT

.titleRightDiv {
    padding-right: 1%;
    margin: 1em;
}

.titleRight {
    font-weight: 900;
    text-align: right;
}

.asideReleasesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asideReleasesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: map-get($map: $colores, $key: "bg4");
    width: 90%;
    padding-bottom: 3%;
    border-radius: 5px;
}

.asideReleasesTitle {
    color: map-get($map: $colores, $key: "text2");
    font-weight: 900;
    text-align: center;
    margin: 1% auto 2% auto;
    font-size: 20px;
    padding-bottom: 2%;
    border-bottom: map-get($map: $colores, $key: "text2") 1px solid;
}

.mainRightBox {
    display: flex;
    width: 80%;
    border-bottom: 1px map-get($map: $colores, $key: "border2") solid;
    margin-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px map-get($map: $colores, $key: "text2") solid;
    align-items: center;
    justify-content: center;
}

.rightBoxImgDiv {
    position: relative;
}

.rightBoxImg {
    border: map-get($map: $colores, $key: "text2") solid 1px;
    width: 6vw;
    height: 7vw;
    object-fit: cover;
}

.rightBoxDiv {
    margin: 5% 1% 1% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 38%;
}

.rightBoxH3 {
    font-size: 1.2em;
    font-weight: 600;
    white-space: nowrap;
}

.rightBoxCat {
    display: inline-block;
    color: map-get($map: $colores, $key: "text2");
    border-radius: 6px;
    border: 1px map-get($map: $colores, $key: "border2") solid;
    background: map-get($map: $colores, $key: "cat2");
    font-weight: 900;
    text-align: center;
    width: 7em;
}

.rightCircleBox {
    border: map-get($map: $colores, $key: "progress") 7px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-left: 5%;
}

.rightBoxP1 {
    font-size: 1.2em;
    font-weight: 700;
    color: map-get($map: $colores, $key: "text2");
    text-align: center;
    line-height: 0em;
    margin-top: 35%;
}

.rightBoxP2 {
    font-size: 0.8em;
    font-weight: 400;
    color: map-get($map: $colores, $key: "text2");
    text-align: center;
}

.rightBoxLink {
    color: map-get($map: $colores, $key: "text3");

    &:hover {
        color: map-get($map: $colores, $key: "link2");
        font-weight: 600px;
    }
}

.leftBottomSection {
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    border-top: map-get($map: $colores, $key: "border2") 2px solid;
}

.asideArticlesSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: map-get($map: $colores, $key: "bg4");
    width: 90%;
    padding-bottom: 3%;
    border-radius: 5px;
    margin-bottom: 5%;
}

.leftBottomTitle {
    align-self: flex-end;
    margin: 0.5em 1em 0.3em 4%;
}

.articleLeft {
    width: 80%;
    border: solid map-get($map: $colores, $key: "progress") 0.2em;
    border-radius: 0.5em;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-bottom: 2%;
}

.articleLeftImg {
    width: 100%;
    height: 15em;
}

.articleLeftH3 {
    font-size: 1.1em;
    text-shadow: $textShadow1;
}

.articleLeftCat {
    position: absolute;
    top: 5%;
    margin-left: 3%;
    color: map-get($map: $colores, $key: "text2");
    border-radius: 5px;
    background: map-get($map: $colores, $key: "cat3");
    font-weight: 900;
    font-size: 1.2em;
}

.articleLeftLink {
    color: map-get($map: $colores, $key:"text2");
    background: map-get($map: $colores, $key:"cat5");
    margin: 0;

    &:hover {
        color: map-get($map: $colores, $key:"link1");
    }
}

// Index - MEDIA QUERY 

// Media Query Laptop - Notebook BIG

@media only screen and (min-width: 1516px) and (max-width:1702px) {
    .mainGrid {
        width: 75vw;
    }
}

@media only screen and (min-width: 1215px) and (max-width:1515px) {

    .mainGrid {
        width: 85vw;
    }

    .billH3 {
        font-size: 1.5em;
    }
}

// Media Query Laptop - Notebook 

@media only screen and (min-width: 992px) and (max-width:1214px) {
    .mainGrid {
        width: 80vw;
    }

    .billH3 {
        font-size: 1.5em;
    }

    .billP {
        display: none;
    }

    .boxText {
        font-size: 0.8em;
        top: 60%;
    }

    .mainRightBox {
        width: 100%;
    }

    .rightBoxH3 {
        font-size: 1em;
    }

    .rightBoxCat {
        font-size: 0.8em;
    }

    .rightCircleBox {
        width: 65px;
        height: 65px;
    }

    .rightBoxP1 {
        font-size: 1em;
    }

    .rightBoxP2 {
        font-size: 0.5em;
    }

    .articleLeft {
        width: 80%;
    }

    .articleLeftImg {
        width: 100%;
        height: 10em;
    }
}

// Media Query Tablet-Mobile General

@media only screen and (min-width: 1px) and (max-width:991px) {
    .mainContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "header"
            "main"
            "contentSection"
            "aside"
            "footer";
    }

    .headerGrid {
        grid-area: header;
    }

    .mainGrid {
        grid-area: main;
        border: map-get($map: $colores, $key: "border3") solid 1px;
    }

    .contentGrid {
        grid-area: contentSection;
        border-right: map-get($map: $colores, $key: "border3") solid 0.5px;
        border-top: map-get($map: $colores, $key: "border3") solid 1px;
        grid-column: 1 /span 3;
    }

    .asideGrid {
        grid-area: aside;
    }

    .footerGrid {
        grid-area: footer;
    }

    @keyframes reload {
        from {
            opacity: 0;
            transform: scale(1);
        }
    }

    to {
        opacity: 1;
        transform: scale(1);
    }

    .sectionTop0 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .indexMainTitleDiv {
        width: 100%;
        border-radius: 10px;
        display: block;
        margin: 1% 1%;
        margin: 0.1em 0;
    }

    .noticiasMainTitleDiv {
        margin: 0.1em 0;
    }

    .reviewMainTitleDiv {
        margin: 0.1em 0;
    }

    .guiaMainTitleDiv {
        margin: 0.1em 0;
    }

    .noticiasMainTitle {
        margin: 0;
    }

    .reviewMainTitle {
        margin: 0;
    }

    .guiaMainTitle {
        margin: 0;
    }

    .indexMainTitle {
        margin: 0;
        color: map-get($map: $colores, $key: "text2");
        text-align: center;
        line-height: 200%;
        font-size: 4em;
        font-weight: 1000;
        text-shadow: $titleShadow1;
        font-style: italic;
        width: 100%;
        background-image: $bgMain;
        background-position: 1%;
        transition: 1s;

        &:hover {
            text-shadow: $titleShadow2;
            background-position: 20%;
            transition: 1s;
        }
    }

    .sectionTop {
        margin: 0;
        flex-wrap: wrap;
    }

    .boxTop {
        border: 1px map-get($map: $colores, $key: "border3") solid;
        width: 33.33%;
    }

    .boxText {
        top: 61%;
        font-size: 1em;
    }

    .boxCat {
        font-size: 1em;
    }

    .sectionTop2 {
        flex-direction: column;
        align-items: center;
        margin-top: 0.25em;
        margin-bottom: -0.95em;
    }

    .indexCarrusel {
        width: 100%;
    }

    .billH3 {
        font-size: 1.5em;
    }

    .billP {
        display: none;
    }

    .sectionTop3 {
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    .sectionTop5 {
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }

    .pub {
        height: 4em;
    }

    .sectionTop4 {
        flex-wrap: wrap;
        margin: 0;
    }

    .boxTop2 {
        overflow: hidden;
        width: 50%;
        border-radius: 0px;
        margin: 0;
    }

    .boxText2 {
        font-size: 1.7em;
        top: 60%;
        background: map-get($map: $colores, $key: "bg3");
    }

    .titleLefttDiv {
        padding: 0;
    }

    .titleLeft {
        text-align: center;
        text-decoration: underline;
    }

    .leftSection {
        align-items: center;
    }

    .mainLeftBox {
        align-items: center;
    }

    .leftBoxImg {
        width: 200px;
        height: 200px;
    }

    .asideArticlesSection,
    .asideReleasesSection {
        width: 40em;
    }

    .rightBoxImg {
        width: 10em;
        height: 9em;
    }
}

// Media Query laptop-Tablet

@media only screen and (min-width: 561px) and (max-width:834px) {
    .boxText2 {
        font-size: 1em;
    }

    .boxText {
        top: 70%;
    }
}

// Media Query Mobile General

@media only screen and (min-width: 1px) and (max-width:660px) {
    .indexMainTitle {
        font-size: 2em;
        overflow: hidden;
    }

    .sectionTop {
        border: 0px;
    }

    .sectionTop2 {
        display: none;
    }

    .sectionTop3 {
        margin-top: 0.2%;
        margin-bottom: 0.2%;
    }

    .boxTop {
        overflow: hidden;
        width: 100%;
        height: 50%;
        border-radius: 0px;
        margin-top: 0.1%;
        margin-bottom: 0.1%;
    }

    .sectionTop4 {
        margin: 0;
    }

    .boxTop2 {
        margin-top: 0.1%;
        margin-bottom: 0.1%;
    }

    .boxText2 {
        background: none;
    }

    .boxText {
        font-size: 1.4em;
        top: 65%;
    }

    .boxCat {
        font-size: 1.5em;
    }

    .pub {
        height: 2em;
    }

    .mainLeftBox {
        flex-direction: column;
    }

    .leftBoxDiv {
        text-align: center;
    }

    .leftBoxImg {
        width: 70vw;
        height: 150px;
        border-radius: 40px;
    }

    .asideArticlesSection,
    .asideReleasesSection {
        width: 90vw;
    }

    .mainRightBox {
        margin: 4% 0;
    }

    .mainRightBox,
    .rightBoxDiv {
        flex-direction: column;
        align-items: center;
    }

    .rightCircleBox {
        margin: 0;
    }

    .rightBoxDiv {
        margin: 4% 0 0 0;
    }


}

// Media Query Mobile Medium

@media only screen and (min-width: 367px) and (max-width:440px) {
    .boxText {
        font-size: 1.2em;
    }

    .pub {
        height: 1.4em;
    }

    .sectionTop3 {
        margin-bottom: 1%;
    }

    .articleLeft {
        width: 90%;
    }

}

// Media Query Mobile Small Size

@media only screen and (min-width: 1px) and (max-width:366px) {
    .boxText {
        font-size: 1.1em;
        top: 60%;
    }

    .sectionTop3 {
        display: none;
    }

    .rightBoxImg {
        width: 7em;
        height: 7em;
    }

    .asideArticlesSection {
        display: none;
    }
}