// Paleta de Colores

$colores: (
    "nav" : linear-gradient(-40deg, #94156F 0%, rgba(59, 21, 111, 1) 25%),
    "footer" : linear-gradient(0deg, #94156F 0%, #3B156F 50%),
    "bg1" : linear-gradient(30deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%),
    "bg2" : linear-gradient(90deg, #d6d6d6 0%, #ffffff 50%, #d6d6d6 100%),
    "bg3" : #5900ff86,
    "bg4" : linear-gradient(130deg, #0b010e 5%, #360428 30%, #140113 60%, ),
    "bg5" : #ead9f3,
    "bg6" : #aa0dff38,
    "bg7" : linear-gradient(352deg, #5f15be 20%, #730d81 80%),
    "bg8" : linear-gradient(20deg, rgb(58, 11, 102) 20%, rgb(97, 3, 160) 80%),
    "bg9" : linear-gradient(170deg, #5900ff86 20%, #41098186 70%),
    "text1" : #000000,
    "text2" : #ffffff,
    "text3" : #e9e9e9,
    "border0" : #000000,
    "border1" : #0000005e,
    "border2" : #0000000c,
    "border3" : rgba(0, 0, 0, 0.048),
    "border4" : rgba(0, 0, 0, 0.185),
    "border5" : #5f15be,
    "border6" : #c206b8,
    "border7" : #7e0578,
    "progress" : #9e9e9e36,
    "cat1" : linear-gradient(352deg, #5f15be 0%, #a91dc5 100%),
    "cat2" : linear-gradient(352deg, #4c0e9c 0%, #6b1dc5 100%),
    "cat3" : linear-gradient(352deg, #5f15be 20%, #730d81 80%),
    "cat4" : linear-gradient(12deg, #5f15be 50%, #9703a5 100%),
    "cat5" : linear-gradient(180deg, #4a06b6 1%, #420b62 80%),
    "cat6" : linear-gradient(352deg, #5f15be 0%, #a91dc5 100%),
    "cat7" : linear-gradient(352deg, #660b5a 20%, #730d81 80%),
    "link1" : #f68eff,
    "link2" : #6a00ff,
    "link3" : #ea00ff,
    "link4" : #8e0cc2,
);

// Font Weight

$fontWeight: (
    "fW4" : 400,
    "fW6" : 600,
    "fW7" : 700,
    "fW8" : 800,
    "fW9" : 900,
    "fW10" : 1000,
);

// Font Size

$fontSize: (
    "fS05" : 0.5em,
    "fS08" : 0.8em,
    "fS09" : 0.9em,
    "fS10" : 1em,
    "fS11" : 1.1em,
    "fS12" : 1.2em,
    "fS13" : 1.3em,
    "fS14" : 1.4em,
    "fS15" : 1.5em,
    "fS16" : 1.6em,
    "fS17" : 1.7em,
    "fS18" : 1.8em,
    "fS19" : 1.9em,
    "fS20" : 2em,
    "fS25" : 2.5em,
    "fS30" : 3em,
    "fS40" : 4em,
    "fS50" : 5em,
    "fS70" : 7em,
);