// Header-NAV - MAIN

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.logotipo {
    background-image: url(../img/icons/logotipo.svg);
    width: 10em;
    height: 1.5em;
    background-repeat: no-repeat;

    &:hover {
        background-image: url(../img/icons/logotipoHover.svg);
    }
}

.navBg {
    background: map-get($map: $colores, $key: "nav");
}

.navbar {
    a {
        color: map-get($map: $colores, $key: "text2");
        text-shadow: $textShadow1;
        font-size: 1.3em;
    }
}


.navbar {
    a {
        &:hover {
            animation-name: reload;
            animation-duration: 0.3s;
            color: map-get($map: $colores, $key: "link3");
        }

        &:focus {
            animation-name: reload;
            animation-duration: 0.3s;
            color: map-get($map: $colores, $key: "link3");
        }

        &:active {
            animation-name: reload;
            animation-duration: 0.3s;
            color: map-get($map: $colores, $key: "link3");
        }
    }
}

.navbar-brand {
    &:hover {
        animation-name: reload;
        animation-duration: 0.3s;
    }
}

.navbar-nav {
    &>li {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.navBtn {
    border: none;
}


.navBtn {
    &:focus {
        background-color: map-get($map: $colores, $key: "link4");
        border: none;
    }

    &:hover {
        background-color: map-get($map: $colores, $key: "link4");
        border: none;
    }

    &:active {
        background-color: map-get($map: $colores, $key: "link4");
        border: none;
    }
}

.dropdown-menu {
    border: none;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
    background-color: none;
    background: none;
}

.navSearchImg {
    width: 2em;
}

.navSearchBg {
    background-color: map-get($map: $colores, $key: "bg5");
    border: map-get($map: $colores, $key: "border0") 1px solid;
}

// Header-NAV - MEDIA QUERY 

// Media Query Mobile Small Size

@media only screen and (min-width: 1px) and (max-width:366px) {
    .logotipo {
        width: 7em;
        height: 1.2em;
    }
}