// Noticias - MAIN

.noticiasMainDiv {
   @extend .mainPagesDiv;
}

.noticiasMain {
    @extend .mainPages;
}

// Noticias - TOP SECTION 

.noticiasTopSection {
    @extend .mainTitleSection;
 }

.noticiasMainTitleDiv {
    @extend .mainTitleDiv;
}

.noticiasMainTitle {
    @extend .mainTitle;
}

// Noticias - MID SECTION 


.noticiasMidSection {
    input[type="radio"] {
        position: absolute;
        left: -9999px;
    }

    [value="todo2"] {
        &:checked~.filters {
            [for="todo2"] {
                display: none;
            }
        }
    }

    [value="popular"] {
        &:checked~.filters {
            [for="popular"] {
                display: none;
            }
        }

        &:checked~.noticiasPosts {
            .noticiasPost {
                &:not([data-category~="popular"]) {
                    display: none;
                }
            }
        }
    }

    [value="NOTICIAS"] {
        &:checked~.filters {
            [for="noticias"] {
                display: none;
            }
        }
    }

    [value="articulos"] {
        &:checked~.filters {
            [for="articulos"] {
                display: none;
            }
        }

        &:checked~.noticiasPosts {
            .noticiasPost {
                &:not([data-category~="articulos"]) {
                    display: none;
                }
            }
        }
    }

    [value="All"] {
        &:checked~.noticiasPosts {
            [data-category] {
                display: none;
            }
        }
    }

    [value="noticias"] {
        &:checked~.noticiasPosts {
            .noticiasPost {
                &:not([data-category~="noticias"]) {
                    display: none;
                }
            }
        }
    }
}


.noticiasCatUl {
    background: map-get($map: $colores, $key: "cat3");
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 1%;
    border-radius: 8px;
}

.noticiasCatLab {
    font-size: 2em;
    font-weight: 800;
    text-shadow: $textShadow1;
}

.noticiasCatLi {
    color: map-get($map: $colores, $key: "text2");

    &:hover {
        color: map-get($map: $colores, $key: "link3");
        font-weight: 900px;
    }
}

.noticiasMidSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noticiasArtMain {
    display: flex;
    width: 20em;
    height: auto;
    margin: 1%;
    overflow: hidden;
    flex-direction: column;

    &:hover {
        transform: translatey(5px);
        transition: transform 0.2s;
    }
}

.noticiasArtCat {
    text-align: center;
    color: map-get($map: $colores, $key: "text2");
    background: map-get($map: $colores, $key: "cat6");
    font-weight: 900;
}

.noticiasArtImgDiv {
    width: 100%;
}

.noticiasArtImg {
    width: 100%;
    height: 10em;
}

.noticiasArtDiv {
    width: 100%;
    height: auto;
    overflow: hidden;
    color: map-get($map: $colores, $key: "text1");
    height: 9em;

    &:hover {
        color: map-get($map: $colores, $key: "link2");
    }
}

.noticiasArtH3 {
    font-size: 1.2em;
    line-height: 1.1em;
}

.noticiasArtP {
    font-size: 0.9em;
    line-height: 1em;
    overflow: hidden;
}

.miniArtDiv {
    display: flex;
}

.noticiasArMiniP {
    font-size: 0.9em;
    color: map-get($map: $colores, $key: "text1");
    padding-left: 1%;
    padding-right: 4%;
}

// Noticias - MEDIA QUERY 

// Media Query Tablet-Mobile General

@media only screen and (min-width: 1px) and (max-width:991px) {
    .noticiasCatUl {
        text-align: center;
        flex-direction: row;
        width: 90%;
        margin-bottom: 2%;
    }

    .noticiasCatLab {
        font-size: 1.9em;
        margin-left: 1%;
        line-height: 300%;
    }

    .noticiasArtMain {
        &:hover {
            transform: none;
        }
    }
}

@media only screen and (min-width: 661px) and (max-width: 666px) {
    .noticiasArtMain {
        width: 45%;
    }
}

// Media Query Mobile General

@media only screen and (min-width: 1px) and (max-width: 660px) {
    .noticiasCatUl {
        flex-direction: column;
        border-radius: 1%;
        width: 100%;
        background: map-get($map: $colores, $key: "cat5");
    }

    .noticiasCatLi {
        border-bottom: 1px solid map-get($map: $colores, $key: "border4");
    }

    .noticiasCatLab {
        border-radius: 1%;
        font-size: 1.4em;
        margin: 1% 0 1% 0;
        text-align: center;
    }

    .noticiasArtMain {
        width: 90%;
        margin-bottom: 5%;
    }

    .noticiasArtImg {
        width: 100%;
        height: 16em;
    }

    .noticiasArtDiv {
        height: auto;
    }

    .noticiasArtH3 {
        font-size: 1.5em;
        text-align: center;
    }

    .noticiasArtP {
        font-size: 1em;
        text-align: center;
    }

    .miniArtDiv {
        justify-content: center;
        margin-top: 2%;
    }
}

/* Media Query Mobile Medium */

@media only screen and (min-width: 367px) and (max-width:460px) {
    .noticiasArtMain {
        width: 95%;
    }

    .noticiasArtImg {
        width: 100%;
        height: 15em;
    }
}

// Media Query Mobile Small Size

@media only screen and (min-width: 1px) and (max-width:366px) {
    .noticiasArtMain {
        width: 100%;
    }

    .noticiasArtImg {
        width: 100%;
        height: 10em;
    }

    .noticiasArtH3 {
        font-size: 1.3em;
    }

    .noticiasArtP {
        display: none;
    }
}