// Noticias - MAIN

.noticiasMainDiv {
    display: flex;
    justify-content: center;
}

.noticiasMain {
    background: map-get($map: $colores, $key: "bg2");
    animation-name: reload;
    animation-duration: 0.2s;
    width: 60%;
}

// Noticias - TOP SECTION 

.noticiasTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noticiasMainTitleDiv {
    width: 99%;
    border-radius: 10px;
    margin: 0.4%;
}

.noticiasMainTitle {
    color: map-get($map: $colores, $key: "text2");
    text-align: center;
    line-height: 400%;
    font-size: 4em;
    font-weight: 1000;
    text-shadow: $titleShadow1;
    background-image: $bgMain;
    background-position: 1%;
    transition: 1s;

    &:hover {
        text-shadow: $titleShadow2;
        background-position: 20%;
        transition: 1s;
    }
}

// Noticias - MID SECTION 

.noticiasMidSection {

    input[type="radio"] {
        position: absolute;
        left: -9999px;
    }

    [value="todo2"]:checked~.filters [for="todo2"],
    [value="popular"]:checked~.filters [for="popular"],
    [value="NOTICIAS"]:checked~.filters [for="noticias"],
    [value="articulos"]:checked~.filters [for="articulos"],
    [value="All"]:checked~.noticiasPosts [data-category],
    [value="popular"]:checked~.noticiasPosts .noticiasPost:not([data-category~="popular"]),
    [value="noticias"]:checked~.noticiasPosts .noticiasPost:not([data-category~="noticias"]),
    [value="articulos"]:checked~.noticiasPosts .noticiasPost:not([data-category~="articulos"]) {
        display: none;
    }
}

.noticiasCatUl {
    background: map-get($map: $colores, $key: "cat3");
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 1%;
    border-radius: 8px;
}

.noticiasCatLab {
    font-size: 2em;
    font-weight: 800;
    text-shadow: $textShadow1;
}

.noticiasCatLi {
    color: map-get($map: $colores, $key: "text2");

    &:hover {
        color: map-get($map: $colores, $key: "link3");
        font-weight: 900px;
    }
}

.noticiasMidSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noticiasArtMain {
    display: flex;
    width: 20em;
    height: auto;
    margin: 1%;
    overflow: hidden;
    flex-direction: column;

    &:hover {
        transform: translatey(5px);
        transition: transform 0.2s;
    }
}

.noticiasArtCat {
    text-align: center;
    color: map-get($map: $colores, $key: "text2");
    background: map-get($map: $colores, $key: "cat6");
    font-weight: 900;
}

.noticiasArtImgDiv {
    width: 100%;
}

.noticiasArtImg {
    width: 100%;
    height: 10em;
}

.noticiasArtDiv {
    width: 100%;
    height: auto;
    overflow: hidden;
    color: map-get($map: $colores, $key: "text1");
    height: 9em;

    &:hover {
        color: map-get($map: $colores, $key: "link2");
    }
}

.noticiasArtH3 {
    font-size: 1.2em;
    line-height: 1.1em;
}

.noticiasArtP {
    font-size: 0.9em;
    line-height: 1em;
    overflow: hidden;
}

.miniArtDiv {
    display: flex;
}

.noticiasArMiniP {
    font-size: 0.9em;
    color: map-get($map: $colores, $key: "text1");
    padding-left: 1%;
    padding-right: 4%;
}

// Noticias - MEDIA QUERY 

// Media Query Laptop - Notebook BIG

@media only screen and (min-width: 1516px) and (max-width:1702px) {
    .noticiasMain {
        width: 75vw;
    }
}

// Media Query Laptop - Notebook

@media only screen and (min-width: 992px) and (max-width:1515px) {
    .noticiasMain {
        width: 85vw;
    }
}

// Media Query laptop - Tablet-Mobile General

@media only screen and (min-width: 1px) and (max-width:991px) {
    .noticiasMain {
        width: 100%;
    }

    .noticiasMainTitle {
        line-height: 200%;
    }

    .noticiasCatUl {
        text-align: center;
        flex-direction: row;
        width: 90%;
        margin-bottom: 2%;
    }

    .noticiasCatLab {
        font-size: 1.9em;
        margin-left: 1%;
        line-height: 300%;
    }

    .noticiasArtMain {
        &:hover {
            transform: translatey(0px);
        }
    }
}

@media only screen and (min-width: 661px) and (max-width: 666px) {
    .noticiasArtMain {
        width: 45%;
    }
}

// Media Query Mobile General

@media only screen and (min-width: 1px) and (max-width: 660px) {
    .noticiasMainTitle {
        font-size: 2em;
        overflow: hidden;
    }

    .noticiasCatUl {
        flex-direction: column;
        border-radius: 1%;
        width: 100%;
        background: map-get($map: $colores, $key: "cat5");
    }

    .noticiasCatLi {
        border-bottom: 1px solid map-get($map: $colores, $key: "border4");
    }

    .noticiasCatLab {
        border-radius: 1%;
        font-size: 1.4em;
        margin: 1% 0 1% 0;
        text-align: center;
    }

    .noticiasArtMain {
        width: 90%;
        margin-bottom: 5%;
    }

    .noticiasArtImg {
        width: 100%;
        height: 16em;
    }

    .noticiasArtDiv {
        height: auto;
    }

    .noticiasArtH3 {
        font-size: 1.5em;
        text-align: center;
    }

    .noticiasArtP {
        font-size: 1em;
        text-align: center;
    }

    .miniArtDiv {
        justify-content: center;
        margin-top: 2%;
    }
}

/* Media Query Mobile Medium */

@media only screen and (min-width: 367px) and (max-width:460px) {
    .noticiasArtMain {
        width: 95%;
    }

    .noticiasArtImg {
        width: 100%;
        height: 15em;
    }
}

// Media Query Mobile Small Size

@media only screen and (min-width: 1px) and (max-width:366px) {
    .noticiasArtMain {
        width: 100%;
    }

    .noticiasArtImg {
        width: 100%;
        height: 10em;
    }

    .noticiasArtH3 {
        font-size: 1.3em;
    }

    .noticiasArtP {
        display: none;
    }
}