// Reviews - MAIN

.reviewMainDiv {
    @extend .mainPagesDiv;
}

.reviewMain {
    @extend .mainPages;
}

// Reviews - TOP SECTION

.reviewTopSection {
    @extend .mainTitleSection;
}

.reviewMainTitleDiv {
    @extend .mainTitleDiv;
}

.reviewMainTitle {
    @extend .mainTitle;
}

// Review - MID SECTION

.reviewMidSection {
    @include flex (row wrap, center, normal);
    border-top: 1px map-get($map: $colores, $key: "border4") solid;
}

.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 15px solid map-get($map: $colores, $key: "progress");
        position: absolute;
        top: 0;
        left: 0;
    }

    >span {
        width: 50%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        z-index: 1;
    }

    .progress-left {
        left: 0;

        .progress-bar {
            left: 100%;
            border-top-right-radius: 80px;
            border-bottom-right-radius: 80px;
            border-left: 0;
            transform-origin: center left;
        }
    }

    .progress-bar {
        width: 100%;
        height: 100%;
        background: none;
        border-width: 15px;
        border-style: solid;
        position: absolute;
        top: 0;
    }

    .progress-right {
        right: 0;

        .progress-bar {
            left: -100%;
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            border-right: 0;
            transform-origin: center right;
            -webkit-animation: loading-0 1.8s linear forwards;
            animation: loading-0 1.8s linear forwards;
        }
    }

    .progress-value {
        width: 100%;
        height: 100%;
        text-align: center;
        position: absolute;
        font-weight: map-get($map: $fontWeight, $key: "fW10");
        font-size: map-get($map: $fontSize, $key: "fS30");
        color: map-get($map: $colores, $key: "text2");
        text-shadow: $textShadow3;
        z-index: 2;
    }
}

.progress.barBg {
    .progress-bar {
        border-color: map-get($map: $colores, $key: "border5");
    }
}

.progress.one {
    .progress-left {
        .progress-bar {
            -webkit-animation: loading-1 1s linear forwards 1.8s;
            animation: loading-1 1s linear forwards 1.8s;
        }
    }
}

.progress.two {
    .progress-left {
        .progress-bar {
            -webkit-animation: loading-2 1s linear forwards 1.8s;
            animation: loading-2 1s linear forwards 1.8s;
        }
    }
}

.progress.three {
    .progress-left {
        .progress-bar {
            -webkit-animation: loading-3 1s linear forwards 1.8s;
            animation: loading-3 1s linear forwards 1.8s;
        }
    }
}

.progress.four {
    .progress-left {
        .progress-bar {
            -webkit-animation: loading-4 1s linear forwards 1.8s;
            animation: loading-4 1s linear forwards 1.8s;
        }
    }
}

.progress.five {
    .progress-left {
        .progress-bar {
            -webkit-animation: loading-5 1s linear forwards 1.8s;
            animation: loading-5 1s linear forwards 1.8s;
        }
    }
}

.progress.six {
    .progress-left {
        .progress-bar {
            -webkit-animation: loading-6 1s linear forwards 1.8s;
            animation: loading-6 1s linear forwards 1.8s;
        }
    }
}

.progress.seven {
    .progress-left {
        .progress-bar {
            -webkit-animation: loading-7 1s linear forwards 1.8s;
            animation: loading-7 1s linear forwards 1.8s;
        }
    }
}

.progress.eight {
    .progress-left {
        .progress-bar {
            -webkit-animation: loading-8 1s linear forwards 1.8s;
            animation: loading-8 1s linear forwards 1.8s;
        }
    }
}

.reviewImg {
    object-fit: cover;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    margin-top: 14px;
    margin-left: 14px;
    position: absolute;
    z-index: 1;
}

@-webkit-keyframes loading-0 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes loading-0 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@-webkit-keyframes loading-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(142deg);
    }
}

@keyframes loading-1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(142deg);
    }
}

@-webkit-keyframes loading-2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(162deg);
    }
}

@keyframes loading-2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(162deg);
    }
}

@-webkit-keyframes loading-3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(129.6deg);
    }
}

@keyframes loading-3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(129.6deg);
    }
}

@-webkit-keyframes loading-4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(136.8deg);
    }
}

@keyframes loading-4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(136.8deg);
    }
}

@-webkit-keyframes loading-5 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(169.2deg);
    }
}

@keyframes loading-5 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(169.2deg);
    }
}

@-webkit-keyframes loading-6 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes loading-6 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0);
    }
}

@-webkit-keyframes loading-7 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(115.2deg);
    }
}

@keyframes loading-7 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(115.2deg);
    }
}

@-webkit-keyframes loading-8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(151.2deg);
    }
}

@keyframes loading-8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(151.2deg);
    }
}

// Review - ART Alternativo

.reviewArtImgMobile {
    display: none;
}

.reviewPuntaje {
    display: none;
}

.reviewArt {
    @include flex (row nowrap, normal, center);
    width: 40%;
    margin: 3% 2%;
}

.reviewArtLink {
    color: map-get($map: $colores, $key: "text1");

    &:hover {
        color: map-get($map: $colores, $key: "link2");
        font-weight: map-get($map: $fontWeight, $key: "fW6");
    }
}

.reviewArtImg {
    width: 20em;
    order: 2;
    margin-left: -0.1em;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    object-fit: cover;
}

.reviewArtDiv {
    order: 1;
    margin: 1em;
}

.reviewArtH3 {
    font-size: map-get($map: $fontSize, $key: "fS14");
    font-weight: map-get($map: $fontWeight, $key: "fW6");
    padding-bottom: 0.5em;
    text-align: center;
}

.reviewArtP {
    line-height: 1em;
    font-size: map-get($map: $fontSize, $key: "fS10");
    font-weight: map-get($map: $fontWeight, $key: "fW4");
    text-align: center;
}

// Index - MEDIA QUERY 

// Media Query Tablet-Mobile General

@media only screen and (min-width: 1px) and (max-width:991px) {
    .reviewBar {
        display: none;
    }

    .reviewMidSection {
        flex-flow: row wrap;
    }

    .reviewArt {
        flex-direction: column;
        border: 1px rgba(0, 0, 0, 0.048) solid;
        background-color: map-get($map: $colores, $key: "border3");
        border-radius: 8px;
    }

    .reviewArtImgMobile {
        display: block;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 15em;
    }

    .reviewArtDiv {
        overflow: hidden;
    }

    .reviewPuntaje {
        z-index: 5;
        position: absolute;
        line-height: 2.2em;
        font-weight: map-get($map: $fontWeight, $key: "fW10");
        font-size: map-get($map: $fontSize, $key: "fS70");
        color: map-get($map: $colores, $key: "text2");
        text-shadow: $textShadow4;
        display: block;
    }
}

// Media Query Mobile General

@media only screen and (min-width: 1px) and (max-width:660px) {
    .reviewArt {
        width: 80%;
    }

    .reviewArtDiv {
        height: 40%;
    }

    .reviewArtH3 {
        font-size: map-get($map: $fontSize, $key: "fS20");
    }

    .reviewArtP {
        font-size: map-get($map: $fontSize, $key: "fS11");
    }

    .reviewPuntaje {
        font-size: map-get($map: $fontSize, $key: "fS70");
    }
}

// Media Queries Mobile S

@media only screen and (min-width: 1px) and (max-width: 348px) {
    .reviewPuntaje {
        font-size: map-get($map: $fontSize, $key: "fS40");
    }

    .reviewArtImgMobile {
        height: 8.8em;
    }

    .reviewArtH3 {
        font-size: map-get($map: $fontSize, $key: "fS11");
    }

    .reviewArtP {
        font-size: map-get($map: $fontSize, $key: "fS08");
    }
}