// Text - Box Shadow
$textShadow1: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
$textShadow2: -1px 0 black, 0 5px black, 1px 0 black, 0 -1px black;
$textShadow3: -1px 0 rgb(97, 6, 139), 0 1px rgb(185, 7, 171), 1px 0 rgba(0, 0, 0, 0.329), 0 -1px rgb(60, 7, 121);
$textShadow4: 2px 1px #ff000067;
$textShadow5: -1px 0 rgb(0, 0, 0), 0 2px rgb(3, 0, 3), 1px 0 rgba(0, 0, 0, 0.699), 0 -1px rgb(0, 0, 0);
$titleShadow1: -1px 0 black, 0 5px rgb(46, 4, 100), 1px 0 black, 0 -1px black;
$titleShadow2: -1px 0 rgb(179, 0, 196), 0 5px rgb(105, 3, 240), 3px 0 rgb(172, 0, 135), 0 -1px black;
$boxshadow1:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);

// Backgrounds

$bgMain: url(../img/bg/bgMain.webp);
$bgSec: url(../img/bg/bgChillBear.webp);

