// Contacto - MAIN

.contactMainDiv {
    display: flex;
    justify-content: center;
}

.contactMain {
    background: map-get($map: $colores, $key: "bg2");
    width: 60%;
    animation-name: reload;
    animation-duration: 0.5s;
}

// Contacto - TOP SECTION

.contactTopSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Contacto - MID SECTION

.contactMidSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactFormContainer {
    padding: 2%;
    background: map-get($map: $colores, $key: "bg7");
    border-radius: 1%;
    width: 90%;
}

textarea {
    &:focus {
        border-color: map-get($map: $colores, $key: "bg6");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
        outline: 0 none;
    }
}

input {
    &:focus {
        border-color: map-get($map: $colores, $key: "bg6");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
        outline: 0 none;
    }
}

input[type="text"] {
    &:focus {
        border-color: map-get($map: $colores, $key: "bg6");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
        outline: 0 none;
    }
}

input[type="email"] {
    &:focus {
        border-color: map-get($map: $colores, $key: "bg6");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
        outline: 0 none;
    }
}

input[type="search"] {
    &:focus {
        border-color: map-get($map: $colores, $key: "bg6");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
        outline: 0 none;
    }
}

.form-select {
    &:focus {
        border-color: map-get($map: $colores, $key: "bg6");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
        outline: 0 none;
    }
}

.form-control {
    &:focus {
        border-color: map-get($map: $colores, $key: "bg6");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
        outline: 0 none;
    }
}

.contactFormTitleDiv {
    margin-bottom: 5%;
    background-image: url(../img/bg/bgChillBear.jpg);
    background-position: center;
    background-position-y: 44%;
    border-radius: 2em;
}

.contactFormTitle {
    text-align: center;
    font-size: 2.5em;
    line-height: 2em;
    font-weight: 700;
    color: map-get($map: $colores, $key: "text2");
    text-shadow: $titleshadow1;

    &:hover {
        text-shadow: $titleshadow2;
    }
}

.spanSize {
    width: 3.7em;
}

.genIco {
    width: 2em;
}

.contactGenreDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: map-get($map: $colores, $key: "bg6");
}

.contactGenre {
    margin: 1%;
}

.formText {
    color: map-get($map: $colores, $key: "text2");
    text-shadow: $textShadow5;
}

.spanBg {
    background: linear-gradient(20deg, rgb(58, 11, 102) 20%, rgb(97, 3, 160) 80%);
    border: black solid 0px;
    color: map-get($map: $colores, $key: "text2");
    text-shadow: $textShadow1;
}

.contactFormButtons {
    display: flex;
    justify-content: center;
}

.btnContact {
    width: 25%;
    background: map-get($map: $colores, $key: "cat7");
    border: map-get($map: $colores, $key: "border4") solid 1px;
    text-shadow: $textShadow5;
    color: map-get($map: $colores, $key: "text2");
    margin: 1%;

    &:hover {
        border-color: map-get($map: $colores, $key: "border7");
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 255, 0.6);
        color: map-get($map: $colores, $key: "link1");
        outline: 0 none;
    }
}

// Contacto - BOTTOM SECTION

.contactAside {
    margin-top: 2%;
}

.contactAsideTitle {
    text-align: left;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 1.5em;
}

.contactAsideSection {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

// Contacto - MEDIA QUERY 

/* Media Query Laptop - Notebook BIG */

@media only screen and (min-width: 1516px) and (max-width:1702px) {
    .contactMain {
        width: 75vw;
    }
}

/* Media Query Laptop - Notebook */

@media only screen and (min-width: 992px) and (max-width:1515px) {
    .contactMain {
        width: 85vw;
    }
}

/* Media Query Mobile Small Size */

@media only screen and (min-width: 1px) and (max-width:991px) {
    .contactMain {
        width: 100%;
    }

    .contactFormContainer {
        width: 100%;
    }
}

/* Media Query Mobile Small Size */

@media only screen and (min-width: 1px) and (max-width:366px) {
    .contactAsideTitle {
        font-size: 1em;
    }
}